/* Write your CSS here */

* {
  box-sizing: border-box;
  margin: 0px;
}
.container {
  background-color: #f1f5f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.counter-heading {
  font-size: 30px;
  font-family: 'Roboto';
  padding: 20px;
}

.counter-paragraph {
  font-size: 20px;
  font-family: 'Roboto';
  padding: 20px;
}

.btn {
  font-size: 20px;
  font-family: 'Roboto';
  padding: 20px;
  border: 0px;
  border-radius: 5px;
  background-color: #007bff;
  color: #ffffff;
}

.counter {
  color: #c20a72;
}
